{% load shop_tags %}
<!-- Navigation-->
       <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{% url 'home' %}">Головна</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="">Тест</a></li>


                        {% get_list_categories as categories %}
                        {% for item in categories %}

                        <li class="nav-item"><a class="nav-link" href="{% url 'category' item.id %}">{{ item.name }}</a></li>

                        {% endfor %}

                    </ul>
                    <div class="d-flex">

    					<a  href="" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#modal-link" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Корзина
                            <span class="badge bg-dark text-white ms-1 rounded-pill">{{ cart.get_total_quantity }}</span>
                        </a>

    					<!-- Modal -->
    					<div class="modal fade" id="modal-link" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    						<div class="modal-dialog modal-xl">
    							<div class="modal-content">
    								<div class="modal-header bg-secondary text-white">
    									<h5 class="modal-title" id="staticBackdropLabel">Корзина</h5>
    									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    								</div>
    								<div class="modal-body">
										<table class="cart" >
											<thead>
											<tr>
												<th>Товар</th>
												<th>Категорія</th>
												<th></th>
												<th>Кількість</th>
												<th>Ціна за шт</th>
												<th>Загальна вартість</th>
												<th></th>
											</tr>
											</thead>
											<tbody>
											{% for item in cart %}
											{% with product=item.product %}
											<tr>
												<td>
													<img class="card-img-top mx-auto d-block"
														 src="{{ product.photo.url }}" alt="..." style="width: 200px;">
												</td>
												<td>{{ product.category }}</td>
												<td>
													<form action="{% url 'cart_add' product.id %}" method="post">
														{{ item.update_quantity_form.quantity }}
														{{ item.update_quantity_form.update }}
														<input type="submit" value="Оновити">
														{% csrf_token %}
													</form>
												</td>

												<td>{{ item.quantity }} шт</td>
												<td class="num">{{ item.price }}_грн</td>
												<td class="num">{{ item.total_price }}_грн</td>
												<td><a href="{% url 'cart_remove' product.id %}"><input type="submit" value="Видалити"></a></td>
											</tr>
											{% endwith %}
											{% endfor %}
											<tr class="total">
												<td>Всього</td>
												<td colspan="4"></td>
												<td class="num">{{ cart.get_total_price }}_грн</td>
											</tr>

											</tbody>
										</table>
    								</div>
    								<div class="modal-footer">
    									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Згорнути</button>
    									<button type="button" class="btn btn-primary">Оформити замовлення</button>
    								</div>
    							</div>
    						</div>
    					</div>





                        <ul class="navbar-nav me-auto mb-2 mb-lg-2 ms-lg-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Панель Андміна</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/admin">Адмін</a></li>
                                <li><a class="dropdown-item" href="/admin/shop/product/add/">Добавити товар</a></li>
                                <li><a class="dropdown-item" href="/admin/shop/category/add/">Добавити категорію</a></li>
                            </ul>
                        </ul>

                        </li>

                    </div>
                </div>
            </div>
        </nav>
